on init
    # Set Hardware properties
    setprop ro.product.model ${ro.boot.hardware.sku}
    setprop ro.product.name montana
    setprop ro.hardware.sensors montana
    setprop ro.hw.imager 16MP
    setprop dalvik.vm.dex2oat-threads 6
    setprop persist.rcs.supported 1

    # Variant properties
on property:ro.boot.radio=APAC
    setprop ro.hw.ecompass false

on property:ro.boot.radio=Brazil
    setprop ro.hw.ecompass false

on property:ro.boot.radio=EMEA
    setprop ro.hw.ecompass false

on property:ro.boot.radio=LATAM
    setprop ro.hw.ecompass true
